In [1]:
import numpy as np
import tensorflow as tf
import keras
import random

import matplotlib.pyplot as plt
import sklearn
import pandas as pd
import pyarrow.parquet as pq
import itertools
import datetime
#from Uno_game import *
import pandas as pd
from moralis import evm_api

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjA0ZTYxZjU1LWJlZGYtNGU2NC1iM2JkLTE1M2JmNGIzOGM3YSIsIm9yZ0lkIjoiMzg2NDM2IiwidXNlcklkIjoiMzk3MDcxIiwidHlwZUlkIjoiMmM1MjY2NzUtMTA0MC00Yjg2LWIwMzUtNzU1NjYxMTMwYWIzIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MTIyOTQ5MTksImV4cCI6NDg2ODA1NDkxOX0.gbO6tQpYieE7VwWoR-4UmEjPV4i2I5rrGCNKjsdCKoM'

In [3]:
params = {
    "address": "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599",
    "chain": "eth"
}
result = evm_api.token.get_token_price(
    api_key=api_key,
    params=params,
)

In [4]:
result = evm_api.token.get_token_price(
    api_key=api_key,
    params=params,
)

In [5]:


historicalPrice = []
for to_block in range(16323500, 16323550, 10):
  params = {
    "address": "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599",
    "chain": "eth",
    "to_block": to_block
  }
  result = evm_api.token.get_token_price(
    api_key=api_key,
    params=params,
  )
  historicalPrice.append(result)
print(historicalPrice)

[{'tokenName': 'Wrapped BTC', 'tokenSymbol': 'WBTC', 'tokenLogo': 'https://logo.moralis.io/0x1_0x2260fac5e5542a773aa44fbcfedf7c193bc2c599_97ef118c382a4236a70de6183929ed1a', 'tokenDecimals': '8', 'nativePrice': {'value': '13718900000000000000', 'decimals': 18, 'name': 'Ether', 'symbol': 'ETH', 'address': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'}, 'usdPrice': 16655.430545000003, 'usdPriceFormatted': '16655.430545000002894085', 'exchangeName': 'Uniswap v3', 'exchangeAddress': '0x1F98431c8aD98523631AE4a59f267346ea31F984', 'tokenAddress': '0x2260fac5e5542a773aa44fbcfedf7c193bc2c599', 'toBlock': '16323500', 'priceLastChangedAtBlock': '16323426', 'verifiedContract': True}, {'tokenName': 'Wrapped BTC', 'tokenSymbol': 'WBTC', 'tokenLogo': 'https://logo.moralis.io/0x1_0x2260fac5e5542a773aa44fbcfedf7c193bc2c599_97ef118c382a4236a70de6183929ed1a', 'tokenDecimals': '8', 'nativePrice': {'value': '13718900000000000000', 'decimals': 18, 'name': 'Ether', 'symbol': 'ETH', 'address': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'}, 'usdPrice': 16655.430545000003, 'usdPriceFormatted': '16655.430545000002894085', 'exchangeName': 'Uniswap v3', 'exchangeAddress': '0x1F98431c8aD98523631AE4a59f267346ea31F984', 'tokenAddress': '0x2260fac5e5542a773aa44fbcfedf7c193bc2c599', 'toBlock': '16323510', 'priceLastChangedAtBlock': '16323426', 'verifiedContract': True}, {'tokenName': 'Wrapped BTC', 'tokenSymbol': 'WBTC', 'tokenLogo': 'https://logo.moralis.io/0x1_0x2260fac5e5542a773aa44fbcfedf7c193bc2c599_97ef118c382a4236a70de6183929ed1a', 'tokenDecimals': '8', 'nativePrice': {'value': '13718900000000000000', 'decimals': 18, 'name': 'Ether', 'symbol': 'ETH', 'address': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'}, 'usdPrice': 16655.430545000003, 'usdPriceFormatted': '16655.430545000002894085', 'exchangeName': 'Uniswap v3', 'exchangeAddress': '0x1F98431c8aD98523631AE4a59f267346ea31F984', 'tokenAddress': '0x2260fac5e5542a773aa44fbcfedf7c193bc2c599', 'toBlock': '16323520', 'priceLastChangedAtBlock': '16323426', 'verifiedContract': True}, {'tokenName': 'Wrapped BTC', 'tokenSymbol': 'WBTC', 'tokenLogo': 'https://logo.moralis.io/0x1_0x2260fac5e5542a773aa44fbcfedf7c193bc2c599_97ef118c382a4236a70de6183929ed1a', 'tokenDecimals': '8', 'nativePrice': {'value': '13718900000000000000', 'decimals': 18, 'name': 'Ether', 'symbol': 'ETH', 'address': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'}, 'usdPrice': 16655.430545000003, 'usdPriceFormatted': '16655.430545000002894085', 'exchangeName': 'Uniswap v3', 'exchangeAddress': '0x1F98431c8aD98523631AE4a59f267346ea31F984', 'tokenAddress': '0x2260fac5e5542a773aa44fbcfedf7c193bc2c599', 'toBlock': '16323530', 'priceLastChangedAtBlock': '16323426', 'verifiedContract': True}, {'tokenName': 'Wrapped BTC', 'tokenSymbol': 'WBTC', 'tokenLogo': 'https://logo.moralis.io/0x1_0x2260fac5e5542a773aa44fbcfedf7c193bc2c599_97ef118c382a4236a70de6183929ed1a', 'tokenDecimals': '8', 'nativePrice': {'value': '13718900000000000000', 'decimals': 18, 'name': 'Ether', 'symbol': 'ETH', 'address': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'}, 'usdPrice': 16655.430545000003, 'usdPriceFormatted': '16655.430545000002894085', 'exchangeName': 'Uniswap v3', 'exchangeAddress': '0x1F98431c8aD98523631AE4a59f267346ea31F984', 'tokenAddress': '0x2260fac5e5542a773aa44fbcfedf7c193bc2c599', 'toBlock': '16323540', 'priceLastChangedAtBlock': '16323426', 'verifiedContract': True}]

In [6]:
import cryptocompare
cryptocompare.cryptocompare._set_api_key_parameter("9f577d92511dd6f428c7837436f5cd678702c480232d0fd9676673719c3da17f")

'&api_key=9f577d92511dd6f428c7837436f5cd678702c480232d0fd9676673719c3da17f'

In [7]:
coin_type = 'ETH'
btc_historical_data = cryptocompare.get_historical_price_hour(coin_type, currency='USD', limit=2000)

In [8]:
def get_data(coin_type):
    
    btc_historical_data = cryptocompare.get_historical_price_hour(coin_type, currency='USD', limit=2000)
    df = pd.DataFrame.from_dict(btc_historical_data)
    df['datetime'] = pd.to_datetime(df['time'], unit = 's')
    df['coin'] = coin_type
    return df
##the time should be in hour increments, not dependent on when it was ran. IE alwys 000, 2300 2400 0000 etc

In [9]:
coins = ['ETH', 'BTC', 'SOL','ADA', 'BNB','ATOM','PEPE','XRP','AVAX','DOGE','SHIB']

In [134]:
df_1 = pd.DataFrame()
for coin in coins:
    df_2 = get_data(coin)
    df_1 = pd.concat([df_1, df_2])
df_1

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,datetime,coin
0,1706464800,2270.090000,2256.980000,2269.020000,7.833580e+03,17724056.00,2260.780000,direct,,2024-01-28 18:00:00,ETH
1,1706468400,2265.740000,2247.400000,2260.780000,9.356770e+03,21112808.48,2253.550000,direct,,2024-01-28 19:00:00,ETH
2,1706472000,2262.770000,2249.070000,2253.550000,7.758670e+03,17496903.17,2261.460000,direct,,2024-01-28 20:00:00,ETH
3,1706475600,2265.660000,2258.190000,2261.460000,5.046930e+03,11415044.73,2263.130000,direct,,2024-01-28 21:00:00,ETH
4,1706479200,2263.600000,2239.840000,2263.130000,6.974620e+03,15706130.52,2248.930000,direct,,2024-01-28 22:00:00,ETH
...,...,...,...,...,...,...,...,...,...,...,...
1996,1713650400,0.000026,0.000026,0.000026,1.294991e+11,3367682.30,0.000026,direct,,2024-04-20 22:00:00,SHIB
1997,1713654000,0.000027,0.000026,0.000026,1.688111e+11,4436258.93,0.000026,direct,,2024-04-20 23:00:00,SHIB
1998,1713657600,0.000027,0.000026,0.000026,4.137438e+11,11051984.33,0.000027,direct,,2024-04-21 00:00:00,SHIB
1999,1713661200,0.000027,0.000027,0.000027,1.809940e+11,4874520.56,0.000027,direct,,2024-04-21 01:00:00,SHIB
2000,1713664800,0.000028,0.000027,0.000027,2.487165e+11,6755113.45,0.000028,direct,,2024-04-21 02:00:00,SHIB

In [127]:
df_1['year'] = df_1['datetime'].dt.year
df_1['month'] = df_1['datetime'].dt.month
df_1['day'] = df_1['datetime'].dt.day
df_1['hour'] = df_1['datetime'].dt.hour
#1024 is the maximum number of partitions.
#we will instead only use day not up to hour,this should still drastically reduce computation time
time_now = datetime.datetime.utcnow().strftime("%d,%m,%Y, %H")
df_1.to_parquet('./cryptodf, '+time_now, partition_cols=['year', 'month', 'day'])

In [131]:
datetime.datetime.utcnow()

datetime.datetime(2024, 4, 21, 4, 8, 47, 17021)

In [133]:
#we will instead only use day not up to hour,this should still drastically reduce computation time
time_now = datetime.datetime.utcnow().strftime("%d,%m,%Y, %H")
time_now

'21,04,2024, 04'

In [95]:
pd.read_parquet(r'mycryptodf\year=2024\month=3', engine = 'auto')

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,datetime,coin,hour,day
774,1709251200,3381.050000,3340.920000,3342.240000,1.124189e+04,37857522.00,3379.880000,direct,,2024-03-01 00:00:00,ETH,0,1
775,1709254800,3389.020000,3365.830000,3379.880000,9.596080e+03,32407808.68,3376.120000,direct,,2024-03-01 01:00:00,ETH,1,1
776,1709258400,3381.390000,3353.630000,3376.120000,8.311980e+03,27982937.97,3367.520000,direct,,2024-03-01 02:00:00,ETH,2,1
777,1709262000,3378.250000,3356.620000,3367.520000,7.454380e+03,25105215.64,3368.900000,direct,,2024-03-01 03:00:00,ETH,3,1
778,1709265600,3382.730000,3366.500000,3368.900000,6.460070e+03,21801777.88,3376.490000,direct,,2024-03-01 04:00:00,ETH,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,1710010800,0.000036,0.000035,0.000035,2.302355e+11,8141009.68,0.000035,direct,,2024-03-09 19:00:00,SHIB,19,9
986,1710014400,0.000036,0.000035,0.000035,1.880123e+11,6643449.95,0.000035,direct,,2024-03-09 20:00:00,SHIB,20,9
987,1710018000,0.000036,0.000035,0.000035,1.806385e+11,6377460.28,0.000035,direct,,2024-03-09 21:00:00,SHIB,21,9
988,1710021600,0.000036,0.000035,0.000035,2.082370e+11,7427261.86,0.000036,direct,,2024-03-09 22:00:00,SHIB,22,9
989,1710025200,0.000036,0.000035,0.000036,2.562065e+11,8999159.52,0.000035,direct,,2024-03-09 23:00:00,SHIB,23,9

In [96]:
import os
path = r'\\'
pd.Series(os.listdir())[pd.Series(os.listdir()).str[0:8] == 'cryptodf']

1    cryptodf, 21,04,2024, 13
2     cryptodf_21,04,2024, 12
dtype: object

In [121]:
def append_new_rows():
    df_name = pd.Series(os.listdir())[pd.Series(os.listdir()).str[0:8] == 'cryptodf']
    path = r''
    path = path + df_name.iloc[0]

    
    #     os.listdir(path)
    #     sub_year = os.listdir(path)
    #     for year in sub_year:
    #         path = path+'\\'+str(year)
    #         sub_month = os.listdir(path)
    #         print(sub_month)

    #         for month in sub_month:
    #             path = path+'\\'+str(month)
    #             print(path)
    subdirs = [x[0] for x in os.walk(r'cryptodf_21,04,2024, 12')]
    path_split  = path.split(',')
    
    year = path_split[3]
    month = path_split[2]
    day = path_split[1]
    hour = str(int(path_split[4]))
    print(year)
    
    #if int(path[path[-2:]])<23:
        #the day is not complete so we must append further data for this day.
    coins = ['ETH', 'BTC', 'SOL','ADA', 'BNB','ATOM','PEPE','XRP','AVAX','DOGE','SHIB']
    global df_3
    df_3 = pd.DataFrame()
    for coin in coins:
        df_4 = get_data(coin)# call get data function.
        df_3 = pd.concat([df_1, df_2])
    
    df_3['year'] = df_3['datetime'].dt.year
    df_3['month'] = df_3['datetime'].dt.month
    df_3['day'] = df_3['datetime'].dt.day
    df_3['hour'] = df_3['datetime'].dt.hour
    
    if int(hour) <23:
        # the last call was not updated  for the whole day.
        #for each final of the day
        
    
    
            
append_new_rows()

2024

In [122]:
df_3

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,datetime,coin,year,month,day,hour
0,1706464800,2270.090000,2256.980000,2269.020000,7.833580e+03,17724056.00,2260.780000,direct,,2024-01-28 18:00:00,ETH,2024,1,28,18
1,1706468400,2265.740000,2247.400000,2260.780000,9.356770e+03,21112808.48,2253.550000,direct,,2024-01-28 19:00:00,ETH,2024,1,28,19
2,1706472000,2262.770000,2249.070000,2253.550000,7.758670e+03,17496903.17,2261.460000,direct,,2024-01-28 20:00:00,ETH,2024,1,28,20
3,1706475600,2265.660000,2258.190000,2261.460000,5.046930e+03,11415044.73,2263.130000,direct,,2024-01-28 21:00:00,ETH,2024,1,28,21
4,1706479200,2263.600000,2239.840000,2263.130000,6.974620e+03,15706130.52,2248.930000,direct,,2024-01-28 22:00:00,ETH,2024,1,28,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,1713650400,0.000026,0.000026,0.000026,1.294991e+11,3367682.30,0.000026,direct,,2024-04-20 22:00:00,SHIB,2024,4,20,22
1997,1713654000,0.000027,0.000026,0.000026,1.688111e+11,4436258.93,0.000026,direct,,2024-04-20 23:00:00,SHIB,2024,4,20,23
1998,1713657600,0.000027,0.000026,0.000026,4.137438e+11,11051984.33,0.000027,direct,,2024-04-21 00:00:00,SHIB,2024,4,21,0
1999,1713661200,0.000027,0.000027,0.000027,1.809940e+11,4874520.56,0.000027,direct,,2024-04-21 01:00:00,SHIB,2024,4,21,1
2000,1713664800,0.000027,0.000027,0.000027,3.423555e+10,922808.62,0.000027,direct,,2024-04-21 02:00:00,SHIB,2024,4,21,2

In [110]:
df_name = pd.Series(os.listdir())[pd.Series(os.listdir()).str[0:8] == 'cryptodf']
str(int(df_name.iloc[0].split(',')[4]))

'13'

In [85]:
int

['cryptodf_21,04,2024, 12',
 'cryptodf_21,04,2024, 12\\year=2024',
 'cryptodf_21,04,2024, 12\\year=2024\\month=1',
 'cryptodf_21,04,2024, 12\\year=2024\\month=1\\day=28',
 'cryptodf_21,04,2024, 12\\year=2024\\month=1\\day=29',
 'cryptodf_21,04,2024, 12\\year=2024\\month=1\\day=30',
 'cryptodf_21,04,2024, 12\\year=2024\\month=1\\day=31',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=1',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=10',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=11',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=12',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=13',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=14',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=15',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=16',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=17',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=18',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=19',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=2',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=20',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=21',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=22',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=23',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=24',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=25',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=26',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=27',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=28',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=29',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=3',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=4',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=5',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=6',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=7',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=8',
 'cryptodf_21,04,2024, 12\\year=2024\\month=2\\day=9',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=1',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=10',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=11',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=12',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=13',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=14',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=15',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=16',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=17',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=18',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=19',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=2',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=20',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=21',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=22',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=23',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=24',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=25',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=26',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=27',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=28',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=29',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=3',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=30',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=31',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=4',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=5',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=6',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=7',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=8',
 'cryptodf_21,04,2024, 12\\year=2024\\month=3\\day=9',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=1',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=10',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=11',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=12',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=13',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=14',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=15',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=16',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=17',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=18',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=19',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=2',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=20',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=21',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=3',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=4',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=5',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=6',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=7',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=8',
 'cryptodf_21,04,2024, 12\\year=2024\\month=4\\day=9']

In [70]:
df_name = pd.Series(os.listdir())[pd.Series(os.listdir()).str[0:8] == 'cryptodf']
path = r''
path = path + df_name.iloc[0]
print(path)
os.listdir(path)
sub_month = os.listdir(path)

cryptodf_21,04,2024, 12

In [72]:
sub_month

['year=2024']

In [44]:
datetime.datetime.now().strftime("%d/%m/%Y %H")

'21/04/2024 12'